# Dependencies
node_modules/

# Build output
dist/

# Testing
coverage/
jest-cache/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/